* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F2F2F2;
    color: #4A4A4A;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
}

a {
    color: #4A4A4A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header Styles */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4A90E2;
    height: 64px;
    padding: 0 45px;
}

.header a {
    color: #FFF;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.header .header__login a {
    display:flex;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
}
.header .header__login a img {
    width: 26px;
    height: 26px;
    margin-left: 20px;
    border-radius: 50%;
    border: solid 1px transparent;
    transition: .4s all;
}

.header .header__login a:hover img {
    border: solid 2px rgba(255, 255, 255, .9);
}

/* End Header Styles */

/* PostList Styles */

/* End PostList Styles */

